.listProducts{
    box-shadow: 0px 10px 20px -11px black;
}

.listProducts th,td {
    border: 1px solid;
    width: 100px;
    text-align: center;
    background: rgb(143	191	247);
}

.listProducts  input {
    margin:0 10px 0 10px;
    width: 100px;
}

.buttons button{
    background: rgb(247	245	236);
    margin: 10px 0;
    width: 75px;
    border-radius:16px;
    box-shadow: 0px 10px 20px -11px black;

}

.inputFields {
    text-align: center;
}